<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--<add key="server" value="http://crmb-fanx.dev.lanyicj.cn"/>-->
    <!--<add key="server" value="http://192.168.50.194:8080"/>-->
    <add key="server" value="http://crm-test.lanyife.com.cn"/>
  </appSettings>
</configuration>
